body,
button,
textarea {
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

// footer

footer {
  height: 70px;
}

footer {
  background: black;
  width: 100%;
  padding: 10px 30px;
  color: white;
  text-align: center;
}

// nav

.nav {
  padding: 4px 40px;
  cursor: pointer;

  a {
    color: white;
    text-decoration: none;
    margin: 10px;
  }
}
