body,
button,
input,
select,
textarea {
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

// sticky footer
.content {
  min-height: calc(100vh - 50px);
}

footer {
  height: 50px;
}

// nav

.nav {
  padding: 5px 60px;
  color: white;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;

  a {
    color: white;
    text-decoration: none;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
  }

  li {
    padding-right: 40px;
  }
}

// page layout

.row_1 {
  margin: 60px 10px 60px;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 60px;
}

.row_2 {
  margin: 90px 0 80px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 2fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
}

#movie_details {
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Mulish", Arial, Helvetica, sans-serif;
}

// buttons

button {
  background: #098191;
  transition: background ease 0.25s;
  border-radius: 5px;
  display: inline-block;
  border: none;
  padding: 0.75rem 1.5rem;
  margin: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  background: #63b6b8;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.ghost {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  margin: 30px;
  font-weight: 800;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 3rem;
  margin-right: 2rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}

.ghost:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

#icons {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  margin: 50px;
  font-weight: 800;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 3rem;
  margin-right: 2rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}

#icons:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

footer {
  background: black;
  width: 100%;
  padding: 10px 30px;
  color: white;
  text-align: center;
}

// comma separated lists

.comma:not(:first-child) {
  margin-left: -0.15rem;
}

.comma:empty {
  display: none;
}

.comma:not(:first-child):before {
  content: ", ";
  margin: 0.15rem;
}

// toast

.toast {
  background: #a8060e;
  color: white;
  border-radius: 3px;
  padding: 12px 24px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
}

/* Page-specific styles */

.restaurant {
  .restaurantheading {
    margin: 100px 0 20px 200px;
    display: flex;
    align-items: center;
  }

  h1 {
    margin-right: 40px;
    font-size: 30px;
  }

  .filter {
    padding-right: 200px;
  }
}

// restaurant info

section.restaurantinfo {
  padding: 20px 200px;

  .items {
    height: 250px;
    border-radius: 5px;
    background-size: cover;
    position: relative;
    box-shadow: 2px 6px 6px 0 rgb(215, 215, 215);
  }

  .iteminfo {
    background: white;
    width: 100%;
    padding: 15px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
  }
}
